<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mybrary</title>
</head>
<body>

    <h1>Kuchkuuuuuuuu</h1>
    <h1>Good Morning Jaan</h1>
    <h1>Golu Loves Kuchkuu soo much naa</h1>
    <h1>Be Happy Jaan</h1>
    
    
    
    <%- body %>

    

</body>
</html>